In [66]:
# Reload the files after re-upload

file1 = pd.read_csv('tb_2022-09-30.csv')
file2 = pd.read_csv('tbhiv_2022-09-27.csv')
file3 = pd.read_csv('tx_2022-08-29.csv')

# Check if 'iso3' and 'year' columns exist in all files
common_columns = ['iso3', 'year']

# Merge the files on 'iso3' and 'year'
merged_df = file1.merge(file2, on=common_columns, how='outer').merge(file3, on=common_columns, how='outer')
merged_df.columns

Index(['iso3', 'year', 'country_x', 'iso2_x', 'iso.numeric_x', 'g.whoregion_x',
       'new.sp', 'new.sn', 'new.su', 'new.ep',
       ...
       'c.mdr.tsr', 'xdr.coh', 'xdr.cur', 'xdr.cmplt', 'xdr.succ', 'xdr.died',
       'xdr.fail', 'xdr.lost', 'c.xdr.neval', 'c.xdr.tsr'],
      dtype='object', length=386)

In [67]:
import pandas as pd

# Load the cleaned file that you want to process
cleaned_df = pd.read_csv('/mnt/data/cleaned_merged_data.csv')

# Function to remove columns with more than 50% NULL values
def drop_columns_with_nulls(df, threshold=0.5):
    # Calculate the percentage of NULL values in each column
    null_percentage = df.isnull().mean()
    # Drop columns where the NULL percentage is greater than the threshold
    return df.loc[:, null_percentage <= threshold]

# Apply the function to drop columns with more than 50% NULL values
cleaned_df = drop_columns_with_nulls(cleaned_df)

# Drop the specified columns
columns_to_drop = ['iso2_y', 'g.whoregion']
cleaned_df = cleaned_df.drop(columns=columns_to_drop, errors='ignore')

# Fill remaining NULL values in the dataset for numerical columns with median and categorical columns with mode
for col in cleaned_df.columns:
    if cleaned_df[col].dtype in ['float64', 'int64']:  # numerical columns
        cleaned_df[col].fillna(cleaned_df[col].median(), inplace=True)
    elif cleaned_df[col].dtype == 'object':  # categorical columns
        cleaned_df[col].fillna(cleaned_df[col].mode()[0], inplace=True)

# Drop duplicate columns (if any exist after merging)
cleaned_df = cleaned_df.loc[:, ~cleaned_df.columns.duplicated()]

# Save the final cleaned dataframe
output_file_path = 'final_cleaned_data_v2.csv'
cleaned_df.to_csv(output_file_path, index=False)

# Provide the path for downloading the cleaned file
output_file_path

C:\Users\Azhaff\AppData\Local\Temp\ipykernel_23324\2651369342.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_df[col].fillna(cleaned_df[col].mode()[0], inplace=True)
C:\Users\Azhaff\AppData\Local\Temp\ipykernel_23324\2651369342.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cleaned_df[col].fillna(cleaned_df[col].median(), inplace=True)

'final_cleaned_data_v2.csv'

In [68]:
# Load the final dataset
final_cleaned_df = pd.read_csv('/mnt/data/final_cleaned_data_v2.csv')

# Function to remove columns with more than 50% NULL values
def drop_columns_with_nulls(df, threshold=0.5):
    null_percentage = df.isnull().mean()
    return df.loc[:, null_percentage <= threshold]

# Apply the function to drop columns with more than 50% NULL values
final_cleaned_df = drop_columns_with_nulls(final_cleaned_df)

# Drop unnecessary columns (e.g., iso2_y, g.whoregion, and any duplicated columns)
columns_to_drop = ['iso2_y', 'g.whoregion']
final_cleaned_df = final_cleaned_df.drop(columns=columns_to_drop, errors='ignore')

# Fill remaining NULL values for numerical columns with median, and categorical columns with mode
for col in final_cleaned_df.columns:
    if final_cleaned_df[col].dtype in ['float64', 'int64']:  # Numerical columns
        final_cleaned_df[col].fillna(final_cleaned_df[col].median(), inplace=True)
    elif final_cleaned_df[col].dtype == 'object':  # Categorical columns
        final_cleaned_df[col].fillna(final_cleaned_df[col].mode()[0], inplace=True)

# Drop duplicate columns, if any
final_cleaned_df = final_cleaned_df.loc[:, ~final_cleaned_df.columns.duplicated()]

# Save the final preprocessed dataset to a new file
output_file_path = 'preprocessed_data_for_visualization.csv'
final_cleaned_df.to_csv(output_file_path, index=False)

# Provide the path for downloading the cleaned file
output_file_path

C:\Users\Azhaff\AppData\Local\Temp\ipykernel_23324\938176511.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_cleaned_df[col].fillna(final_cleaned_df[col].mode()[0], inplace=True)
C:\Users\Azhaff\AppData\Local\Temp\ipykernel_23324\938176511.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_cleaned_df[col].fillna(final_cleaned_df[col].median(), inplace=True)

'preprocessed_data_for_visualization.csv'

In [80]:
import pandas as pd

# Load the two uploaded files
preprocessed_data_path = 'preprocessed_data_for_visualization.csv'
longitude_latitude_path = 'longitude-latitude.csv'

preprocessed_data = pd.read_csv(preprocessed_data_path)
longitude_latitude = pd.read_csv(longitude_latitude_path)

# Check the first few rows of each dataset to understand their structure
preprocessed_data.head(), longitude_latitude.head()

(  iso3  year country_x iso2_x  iso.numeric_x g.whoregion_x  new.ep  \
 0  ABW  1980     Aruba     AW          533.0           AMR   365.0
 1  ABW  1981     Aruba     AW          533.0           AMR   365.0
 2  ABW  1982     Aruba     AW          533.0           AMR   365.0
 3  ABW  1983     Aruba     AW          533.0           AMR   365.0
 4  ABW  1984     Aruba     AW          533.0           AMR   365.0

    tot.newrel  c.newunk  c.newinc_x  ...  c.new.tsr_x   ch      conf  \
 0      2118.5    2231.5      2158.0  ...         81.0  0.0  0.702607
 1      2118.5    2231.5      2158.0  ...         81.0  0.0  0.702607
 2      2118.5    2231.5      2158.0  ...         81.0  0.0  0.702607
 3      2118.5    2231.5      2158.0  ...         81.0  0.0  0.702607
 4      2118.5    2231.5      2158.0  ...         81.0  0.0  0.702607

          ep  g.whoregion_y  c.newinc_y  c.notified_y    country_y  \
 0  0.090036            EUR      2448.0        2535.5  Afghanistan
 1  0.090036            EUR      2448.0        2535.5  Afghanistan
 2  0.090036            EUR      2448.0        2535.5  Afghanistan
 3  0.090036            EUR      2448.0        2535.5  Afghanistan
 4  0.090036            EUR      2448.0        2535.5  Afghanistan

    iso.numeric_y  c.new.tsr_y
 0          430.0         81.0
 1          430.0         81.0
 2          430.0         81.0
 3          430.0         81.0
 4          430.0         81.0

 [5 rows x 47 columns],
          Country ISO-ALPHA-3 ISO-ALPHA-2  IOC FIFA   Latitude  Longitude  \
 0          Aruba         ABW          AW  ARU  ARU  12.521110 -69.968338
 1    Afghanistan         AFG          AF  AFG  AFG  33.939110  67.709953
 2         Angola         AGO          AO  ANG  ANG -11.202692  17.873887
 3       Anguilla         AIA          AI  NaN  AIA  18.220554 -63.068615
 4  Åland Islands         ALA         NaN  NaN  NaN  60.250716  20.374146

    ISO-Name  Historical WikiData_ID  WikiData_Latitude  WikiData_Longitude  \
 0         1           0      Q21203              12.51              -69.97
 1         1           0        Q889              33.00               66.00
 2         1           0        Q916             -12.35               17.35
 3         1           0      Q25228              18.23              -63.05
 4         1           0       Q5689              60.25               20.00

   WikiData_Label                               WikiData_Description
 0          Aruba  island country in the Caribbean, part of the K...
 1    Afghanistan  sovereign state situated at the confluence of ...
 2         Angola                          sovereign state in Africa
 3       Anguilla        British Overseas Territory in the Caribbean
 4          Åland                       autonomous region of Finland  )

In [82]:
# Merging the two datasets on the country names
merged_data = pd.merge(preprocessed_data, longitude_latitude[['Country', 'Latitude', 'Longitude']], 
                       left_on='country_x', right_on='Country', how='left')

# Dropping the unnecessary columns after the merge
merged_data = merged_data.drop(columns=['Country'])

# Displaying the updated data
import ace_tools as tools; tools.display_dataframe_to_user(name="Merged Data with Latitude and Longitude", dataframe=merged_data)

# Checking the first few rows to ensure the merge was successful
merged_data.head()

ModuleNotFoundError: No module named 'ace_tools'

In [96]:
import pandas as pd
import json

# Load the dataset
df = pd.read_csv('Merged_Data_with_Latitude_and_Longitude.csv')

# Creating nodes (unique countries involved in relationships)
nodes = pd.DataFrame({'id': pd.concat([df['country_x'], df['country_y']]).unique()})

# Creating links (relationships between countries based on country_x and country_y columns)
links = pd.DataFrame({
    'source': df['country_x'],
    'target': df['country_y']
})

# Converting nodes and links to the required JSON format for D3.js
graph_data = {
    'nodes': nodes.to_dict(orient='records'),
    'links': links.to_dict(orient='records')
}

# Save the data as a JSON file for use in the D3.js visualization
output_json_path = 'graph_data.json'
with open(output_json_path, 'w') as f:
    json.dump(graph_data, f)

# Provide the path for downloading the JSON file
output_json_path

'graph_data.json'

In [90]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Merged_Data_with_Latitude_and_Longitude.csv')

# Print the column names to verify the correct ones for latitude and longitude
print(df.columns)

Index(['Unnamed: 0', 'iso3', 'year', 'country_x', 'iso2_x', 'iso.numeric_x',
       'g.whoregion_x', 'new.ep', 'tot.newrel', 'c.newunk', 'c.newinc_x',
       'c.ret', 'c.notified_x', 'c.new.014', 'e.pop.m04', 'e.pop.m514',
       'e.pop.m014', 'e.pop.m1524', 'e.pop.m2534', 'e.pop.m3544',
       'e.pop.m4554', 'e.pop.m5564', 'e.pop.m65', 'e.pop.m15plus', 'e.pop.f04',
       'e.pop.f514', 'e.pop.f014', 'e.pop.f1524', 'e.pop.f2534', 'e.pop.f3544',
       'e.pop.f4554', 'e.pop.f5564', 'e.pop.f65', 'e.pop.f15plus',
       'e.pop.15plus', 'e.pop.num', 'pop', 'newinc_x', 'c.new.tsr_x', 'ch',
       'conf', 'ep', 'g.whoregion_y', 'c.newinc_y', 'c.notified_y',
       'country_y', 'iso.numeric_y', 'c.new.tsr_y', 'Latitude', 'Longitude'],
      dtype='object')

In [104]:
import pandas as pd
import json

# Load the dataset
df = pd.read_csv('Merged_Data_with_Latitude_and_Longitude.csv')

# Check the column names and adjust the names accordingly (e.g., 'lat_x', 'lon_x', etc.)
nodes = pd.DataFrame({
    'id': pd.concat([df['country_x'], df['country_y']]).unique()
})

# Add latitude and longitude for each country (adjust column names if necessary)
nodes['lat'] = nodes['id'].map(df.set_index('country_x')['Latitude'].to_dict())  # Replace 'Latitude' with the correct column name
nodes['lon'] = nodes['id'].map(df.set_index('country_x')['Longitude'].to_dict())  # Replace 'Longitude' with the correct column name

# Remove rows with NaN latitude or longitude values
nodes = nodes.dropna(subset=['lat', 'lon'])

# Creating links (relationships between countries based on country_x and country_y columns)
links = pd.DataFrame({
    'source': df['country_x'],
    'target': df['country_y']
})

# Convert nodes and links to the required JSON format for D3.js
graph_data = {
    'nodes': nodes.to_dict(orient='records'),
    'links': links.to_dict(orient='records')
}

# Save the data as a JSON file for use in the D3.js visualization
output_json_path = 'graph_data_for_mapchart.json'
with open(output_json_path, 'w') as f:
    json.dump(graph_data, f)

# Provide the path for downloading the JSON file
output_json_path

'graph_data_for_mapchart.json'

In [147]:
import pandas as pd

# Load the newly uploaded CSV data
file_path = 'Merged_Data_with_Latitude_and_Longitude.csv'
df = pd.read_csv(file_path)

# Display the columns to understand the structure of the file
df.columns

Index(['Unnamed: 0', 'iso3', 'year', 'country_x', 'iso2_x', 'iso.numeric_x',
       'g.whoregion_x', 'new.ep', 'tot.newrel', 'c.newunk', 'c.newinc_x',
       'c.ret', 'c.notified_x', 'c.new.014', 'e.pop.m04', 'e.pop.m514',
       'e.pop.m014', 'e.pop.m1524', 'e.pop.m2534', 'e.pop.m3544',
       'e.pop.m4554', 'e.pop.m5564', 'e.pop.m65', 'e.pop.m15plus', 'e.pop.f04',
       'e.pop.f514', 'e.pop.f014', 'e.pop.f1524', 'e.pop.f2534', 'e.pop.f3544',
       'e.pop.f4554', 'e.pop.f5564', 'e.pop.f65', 'e.pop.f15plus',
       'e.pop.15plus', 'e.pop.num', 'pop', 'newinc_x', 'c.new.tsr_x', 'ch',
       'conf', 'ep', 'g.whoregion_y', 'c.newinc_y', 'c.notified_y',
       'country_y', 'iso.numeric_y', 'c.new.tsr_y', 'Latitude', 'Longitude'],
      dtype='object')

In [151]:
# Selecting the necessary columns for the bubble chart
df_processed = df[['country_y', 'g.whoregion_y', 'new.ep', 'pop', 'year']]

# Renaming columns for clarity
df_processed = df_processed.rename(columns={
    'country_y': 'Country',
    'g.whoregion_y': 'Region',
    'new.ep': 'Life Expectancy',
    'pop': 'Population',
    'year': 'Year'
})

# Create a new column for Bubble Size based on the population
df_processed['Bubble Size'] = df_processed['Population'] / 1000000  # Scale the bubble size

# Convert the DataFrame to a dictionary format suitable for JSON
json_data = df_processed.to_dict(orient='records')

# Save to a JSON file
json_file_path = 'bubble_chart_data.json'
with open(json_file_path, 'w') as json_file:
    json.dump(json_data, json_file, indent=4)

# Provide the link to download the generated JSON file
json_file_path

'bubble_chart_data.json'

In [154]:
import pandas as pd

# Load the uploaded CSV file to inspect its contents
file_path = 'Merged_Data_with_Latitude_and_Longitude.csv'
data = pd.read_csv(file_path)

# Display the first few rows of the data to understand its structure
data.head()

,Unnamed: 0,iso3,year,country_x,iso2_x,iso.numeric_x,g.whoregion_x,new.ep,tot.newrel,c.newunk,...,conf,ep,g.whoregion_y,c.newinc_y,c.notified_y,country_y,iso.numeric_y,c.new.tsr_y,Latitude,Longitude
0,0,ABW,1980,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
1,1,ABW,1981,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
2,2,ABW,1982,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
3,3,ABW,1983,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
4,4,ABW,1984,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338

In [156]:
import json

# Group data by 'g.whoregion_x' and 'country_x' to create hierarchical structure
hierarchy_data = data.groupby(['g.whoregion_x', 'country_x', 'year'])[['new.ep']].sum().reset_index()

# Creating the hierarchical structure
def create_hierarchy(data):
    regions = data['g.whoregion_x'].unique()
    hierarchy = {'name': 'World', 'children': []}

    for region in regions:
        region_data = data[data['g.whoregion_x'] == region]
        region_node = {'name': region, 'children': []}

        countries = region_data['country_x'].unique()
        for country in countries:
            country_data = region_data[region_data['country_x'] == country]
            country_node = {'name': country, 'newinc_tb': country_data['new.ep'].sum(), 'children': []}

            for year in country_data['year'].unique():
                year_data = country_data[country_data['year'] == year]
                country_node['children'].append({
                    'name': str(year),
                    'newinc_tb': year_data['new.ep'].sum()
                })

            region_node['children'].append(country_node)

        hierarchy['children'].append(region_node)

    return hierarchy

# Create the hierarchy structure
hierarchy = create_hierarchy(hierarchy_data)

# Write the hierarchy to a JSON file
output_path = 'hierarchical_tree_map.json'
with open(output_path, 'w') as json_file:
    json.dump(hierarchy, json_file, indent=2)

output_path

'hierarchical_tree_map.json'

In [158]:
import pandas as pd

# Load the provided CSV file to examine its structure
file_path = 'Merged_Data_with_Latitude_and_Longitude.csv'
data = pd.read_csv(file_path)

# Display the first few rows to understand its structure
data.head()

,Unnamed: 0,iso3,year,country_x,iso2_x,iso.numeric_x,g.whoregion_x,new.ep,tot.newrel,c.newunk,...,conf,ep,g.whoregion_y,c.newinc_y,c.notified_y,country_y,iso.numeric_y,c.new.tsr_y,Latitude,Longitude
0,0,ABW,1980,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
1,1,ABW,1981,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
2,2,ABW,1982,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
3,3,ABW,1983,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338
4,4,ABW,1984,Aruba,AW,533.0,AMR,365.0,2118.5,2231.5,...,0.702607,0.090036,EUR,2448.0,2535.5,Afghanistan,430.0,81.0,12.52111,-69.968338

In [160]:
import json

# Prepare the data for sunburst chart
sunburst_data = {"name": "World", "children": []}

# Group the data by region
regions = data['g.whoregion_x'].unique()
for region in regions:
    region_data = {
        "name": region,
        "children": []
    }

    # Group by country within the region
    countries = data[data['g.whoregion_x'] == region]['country_x'].unique()
    for country in countries:
        country_data = {
            "name": country,
            "children": []
        }

        # Group by year within the country
        years = data[data['country_x'] == country]['year'].unique()
        for year in years:
            year_data = {
                "name": str(year),
                "newinc_tb": data[(data['country_x'] == country) & (data['year'] == year)]['new.ep'].sum()
            }
            country_data['children'].append(year_data)

        region_data['children'].append(country_data)

    # Add region data to the root
    sunburst_data['children'].append(region_data)

# Save the data to a JSON file
output_json_path = 'sunburst_chart_data.json'
with open(output_json_path, 'w') as f:
    json.dump(sunburst_data, f, indent=2)

output_json_path

'sunburst_chart_data.json'